/SpringJARFiles/

/PildorasInformaticas/ProyectoSpringUno/nbproject/
/PildorasInformaticas/ProyectoSpringUno/.settings/
/PildorasInformaticas/ProyectoSpringUno/build/
/PildorasInformaticas/ProyectoSpringUno/libs/
/PildorasInformaticas/ProyectoSpringUno/dist/
/PildorasInformaticas/ProyectoSpringUno/test/
/PildorasInformaticas/ProyectoSpringUno/out/
/PildorasInformaticas/ProyectoSpringUno/*.xml
/PildorasInformaticas/ProyectoSpringUno/*.mf
/PildorasInformaticas/ProyectoSpringUno/*.classpath
/PildorasInformaticas/ProyectoSpringUno/*.project

/PildorasInformaticas/SpringConAnnotations/nbproject/
/PildorasInformaticas/SpringConAnnotations/.settings/
/PildorasInformaticas/SpringConAnnotations/build/
/PildorasInformaticas/SpringConAnnotations/libs/
/PildorasInformaticas/SpringConAnnotations/dist/
/PildorasInformaticas/SpringConAnnotations/test/
/PildorasInformaticas/SpringConAnnotations/out/
/PildorasInformaticas/SpringConAnnotations/*.xml
/PildorasInformaticas/SpringConAnnotations/*.mf
/PildorasInformaticas/SpringConAnnotations/*.classpath
/PildorasInformaticas/SpringConAnnotations/*.project

/PildorasInformaticas/SpringMVCEjemplo1/nbproject/
/PildorasInformaticas/SpringMVCEjemplo1/.settings/
/PildorasInformaticas/SpringMVCEjemplo1/build/
/PildorasInformaticas/SpringMVCEjemplo1/dist/
/PildorasInformaticas/SpringMVCEjemplo1/test/
/PildorasInformaticas/SpringMVCEjemplo1/out/
/PildorasInformaticas/SpringMVCEjemplo1/*.xml
/PildorasInformaticas/SpringMVCEjemplo1/*.mf
/PildorasInformaticas/SpringMVCEjemplo1/*.classpath
/PildorasInformaticas/SpringMVCEjemplo1/*.project
/PildorasInformaticas/SpringMVCEjemplo1/src/main/webapp/WEB-INF/lib/

/PildorasInformaticas/ProyectoHibernate/nbproject/
/PildorasInformaticas/ProyectoHibernate/.settings/
/PildorasInformaticas/ProyectoHibernate/build/
/PildorasInformaticas/ProyectoHibernate/lib/
/PildorasInformaticas/ProyectoHibernate/bin/
/PildorasInformaticas/ProyectoHibernate/dist/
/PildorasInformaticas/ProyectoHibernate/test/
/PildorasInformaticas/ProyectoHibernate/out/
/PildorasInformaticas/ProyectoHibernate/*.xml
/PildorasInformaticas/ProyectoHibernate/*.mf
/PildorasInformaticas/ProyectoHibernate/*.classpath
/PildorasInformaticas/ProyectoHibernate/*.project

/PildorasInformaticas/ProyectoRelacionesHibernate/nbproject/
/PildorasInformaticas/ProyectoRelacionesHibernate/.settings/
/PildorasInformaticas/ProyectoRelacionesHibernate/build/
/PildorasInformaticas/ProyectoRelacionesHibernate/lib/
/PildorasInformaticas/ProyectoRelacionesHibernate/bin/
/PildorasInformaticas/ProyectoRelacionesHibernate/dist/
/PildorasInformaticas/ProyectoHProyectoRelacionesHibernateibernate/test/
/PildorasInformaticas/ProyectoRelacionesHibernate/out/
/PildorasInformaticas/ProyectoRelacionesHibernate/*.xml
/PildorasInformaticas/ProyectoRelacionesHibernate/*.mf
/PildorasInformaticas/ProyectoRelacionesHibernate/*.classpath
/PildorasInformaticas/ProyectoRelacionesHibernate/*.project