/PildorasInformaticas/ProyectoSpringUno/nbproject/
/PildorasInformaticas/ProyectoSpringUno/.settings/
/PildorasInformaticas/ProyectoSpringUno/build/
/PildorasInformaticas/ProyectoSpringUno/libs/
/PildorasInformaticas/ProyectoSpringUno/dist/
/PildorasInformaticas/ProyectoSpringUno/test/
/PildorasInformaticas/ProyectoSpringUno/out/
/PildorasInformaticas/ProyectoSpringUno/*.xml
/PildorasInformaticas/ProyectoSpringUno/*.mf
/PildorasInformaticas/ProyectoSpringUno/*.classpath
/PildorasInformaticas/ProyectoSpringUno/*.project

/PildorasInformaticas/SpringConAnnotations/nbproject/
/PildorasInformaticas/SpringConAnnotations/.settings/
/PildorasInformaticas/SpringConAnnotations/build/
/PildorasInformaticas/SpringConAnnotations/libs/
/PildorasInformaticas/SpringConAnnotations/dist/
/PildorasInformaticas/SpringConAnnotations/test/
/PildorasInformaticas/SpringConAnnotations/out/
/PildorasInformaticas/SpringConAnnotations/*.xml
/PildorasInformaticas/SpringConAnnotations/*.mf
/PildorasInformaticas/SpringConAnnotations/*.classpath
/PildorasInformaticas/SpringConAnnotations/*.project

/PildorasInformaticas/SpringMVCEjemplo1/nbproject/
/PildorasInformaticas/SpringMVCEjemplo1/.settings/
/PildorasInformaticas/SpringMVCEjemplo1/build/
/PildorasInformaticas/SpringMVCEjemplo1/dist/
/PildorasInformaticas/SpringMVCEjemplo1/test/
/PildorasInformaticas/SpringMVCEjemplo1/out/
/PildorasInformaticas/SpringMVCEjemplo1/*.xml
/PildorasInformaticas/SpringMVCEjemplo1/*.mf
/PildorasInformaticas/SpringMVCEjemplo1/*.classpath
/PildorasInformaticas/SpringMVCEjemplo1/*.project
/PildorasInformaticas/SpringMVCEjemplo1/src/conf/
/PildorasInformaticas/SpringMVCEjemplo1/src/main/webapp/WEB-INF/lib/

/PildorasInformaticas/ProyectoHibernate/nbproject/
/PildorasInformaticas/ProyectoHibernate/.settings/
/PildorasInformaticas/ProyectoHibernate/build/
/PildorasInformaticas/ProyectoHibernate/lib/
/PildorasInformaticas/ProyectoHibernate/bin/
/PildorasInformaticas/ProyectoHibernate/dist/
/PildorasInformaticas/ProyectoHibernate/test/
/PildorasInformaticas/ProyectoHibernate/out/
/PildorasInformaticas/ProyectoHibernate/*.xml
/PildorasInformaticas/ProyectoHibernate/*.mf
/PildorasInformaticas/ProyectoHibernate/*.classpath
/PildorasInformaticas/ProyectoHibernate/*.project

/PildorasInformaticas/ProyectoRelacionesHibernate/nbproject/
/PildorasInformaticas/ProyectoRelacionesHibernate/.settings/
/PildorasInformaticas/ProyectoRelacionesHibernate/build/
/PildorasInformaticas/ProyectoRelacionesHibernate/lib/
/PildorasInformaticas/ProyectoRelacionesHibernate/bin/
/PildorasInformaticas/ProyectoRelacionesHibernate/dist/
/PildorasInformaticas/ProyectoHProyectoRelacionesHibernateibernate/test/
/PildorasInformaticas/ProyectoRelacionesHibernate/out/
/PildorasInformaticas/ProyectoRelacionesHibernate/*.xml
/PildorasInformaticas/ProyectoRelacionesHibernate/*.mf
/PildorasInformaticas/ProyectoRelacionesHibernate/*.classpath
/PildorasInformaticas/ProyectoRelacionesHibernate/*.project

/PildorasInformaticas/PruebaGestionCRUD/nbproject/
/PildorasInformaticas/PruebaGestionCRUD/.settings/
/PildorasInformaticas/PruebaGestionCRUD/build/
/PildorasInformaticas/PruebaGestionCRUD/dist/
/PildorasInformaticas/PruebaGestionCRUD/test/
/PildorasInformaticas/PruebaGestionCRUD/out/
/PildorasInformaticas/PruebaGestionCRUD/*.xml
/PildorasInformaticas/PruebaGestionCRUD/*.mf
/PildorasInformaticas/PruebaGestionCRUD/*.classpath
/PildorasInformaticas/PruebaGestionCRUD/*.project
/PildorasInformaticas/PruebaGestionCRUD/src/conf/
/PildorasInformaticas/PruebaGestionCRUD/src/main/webapp/WEB-INF/lib/
/PildorasInformaticas/PruebaGestionCRUD/src/main/webapp/META-INF/

/PildorasInformaticas/ProyectoGestionAOP/nbproject/
/PildorasInformaticas/ProyectoGestionAOP/.settings/
/PildorasInformaticas/ProyectoGestionAOP/build/
/PildorasInformaticas/ProyectoGestionAOP/dist/
/PildorasInformaticas/ProyectoGestionAOP/test/
/PildorasInformaticas/ProyectoGestionAOP/out/
/PildorasInformaticas/ProyectoGestionAOP/*.xml
/PildorasInformaticas/ProyectoGestionAOP/*.mf
/PildorasInformaticas/ProyectoGestionAOP/*.classpath
/PildorasInformaticas/ProyectoGestionAOP/*.project
/PildorasInformaticas/ProyectoGestionAOP/src/conf/
/PildorasInformaticas/ProyectoGestionAOP/web/WEB-INF/lib/
/PildorasInformaticas/ProyectoGestionAOP/web/META-INF/

/PildorasInformaticas/ProyectoGestionAOP_2/nbproject/
/PildorasInformaticas/ProyectoGestionAOP_2/.settings/
/PildorasInformaticas/ProyectoGestionAOP_2/build/
/PildorasInformaticas/ProyectoGestionAOP_2/dist/
/PildorasInformaticas/ProyectoGestionAOP_2/test/
/PildorasInformaticas/ProyectoGestionAOP_2/out/
/PildorasInformaticas/ProyectoGestionAOP_2/*.xml
/PildorasInformaticas/ProyectoGestionAOP_2/*.mf
/PildorasInformaticas/ProyectoGestionAOP_2/*.classpath
/PildorasInformaticas/ProyectoGestionAOP_2/*.project
/PildorasInformaticas/ProyectoGestionAOP_2/src/conf/
/PildorasInformaticas/ProyectoGestionAOP_2/web/WEB-INF/lib/
/PildorasInformaticas/ProyectoGestionAOP_2/web/META-INF/

/PildorasInformaticas/ProyectoGestionAOP_3/nbproject/
/PildorasInformaticas/ProyectoGestionAOP_3/.settings/
/PildorasInformaticas/ProyectoGestionAOP_3/build/
/PildorasInformaticas/ProyectoGestionAOP_3/dist/
/PildorasInformaticas/ProyectoGestionAOP_3/test/
/PildorasInformaticas/ProyectoGestionAOP_3/out/
/PildorasInformaticas/ProyectoGestionAOP_3/*.xml
/PildorasInformaticas/ProyectoGestionAOP_3/*.mf
/PildorasInformaticas/ProyectoGestionAOP_3/*.classpath
/PildorasInformaticas/ProyectoGestionAOP_3/*.project
/PildorasInformaticas/ProyectoGestionAOP_3/src/conf/
/PildorasInformaticas/ProyectoGestionAOP_3/web/WEB-INF/lib/
/PildorasInformaticas/ProyectoGestionAOP_3/web/META-INF/

/PildorasInformaticas/PrimeraAppMaven/target/

/PildorasInformaticas/ProyectoWebMaven/target/
/PildorasInformaticas/ProyectoWebMaven/src/main/webapp/META-INF/

/PildorasInformaticas/SpringSecurityProject/nbproject/
/PildorasInformaticas/SpringSecurityProject/target/
/PildorasInformaticas/SpringSecurityProject/.settings/
/PildorasInformaticas/SpringSecurityProject/build/
/PildorasInformaticas/SpringSecurityProject/dist/
/PildorasInformaticas/SpringSecurityProject/src/test/
/PildorasInformaticas/SpringSecurityProject/*.classpath
/PildorasInformaticas/SpringSecurityProject/*.project
/PildorasInformaticas/SpringSecurityProject/src/conf/
/PildorasInformaticas/SpringSecurityProject/src/main/webapp/WEB-INF/lib/
/PildorasInformaticas/SpringSecurityProject/src/main/webapp/META-INF/

/PildorasInformaticas/PruebasREST/nbproject/
/PildorasInformaticas/PruebasREST/target/
/PildorasInformaticas/PruebasREST/.settings/
/PildorasInformaticas/PruebasREST/build/
/PildorasInformaticas/PruebasREST/dist/
/PildorasInformaticas/PruebasREST/src/test/
/PildorasInformaticas/PruebasREST/*.classpath
/PildorasInformaticas/PruebasREST/*.project
/PildorasInformaticas/PruebasREST/src/conf/
/PildorasInformaticas/PruebasREST/src/main/webapp/WEB-INF/lib/
/PildorasInformaticas/PruebasREST/src/main/webapp/META-INF/

/PildorasInformaticas/SpringRestProject/nbproject/
/PildorasInformaticas/SpringRestProject/target/
/PildorasInformaticas/SpringRestProject/.settings/
/PildorasInformaticas/SpringRestProject/build/
/PildorasInformaticas/SpringRestProject/dist/
/PildorasInformaticas/SpringRestProject/src/test/
/PildorasInformaticas/SpringRestProject/*.classpath
/PildorasInformaticas/SpringRestProject/*.project
/PildorasInformaticas/SpringRestProject/src/conf/
/PildorasInformaticas/SpringRestProject/src/main/webapp/WEB-INF/lib/
/PildorasInformaticas/SpringRestProject/src/main/webapp/META-INF/

