<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd ">
    
    <!-- Se crean los beans correspondiente a cada clase: Director, Jefe y Secrfetario -->
    <bean id="miDirectorEmp" class="com.dfrb.ioc.DirectorEmpleado"></bean>
    <bean id="miSecretarioEmp" class="com.dfrb.ioc.SecretarioEmpleado"></bean>
    <bean id="miJefeEmp" class="com.dfrb.ioc.JefeEmpleado"></bean>
    
</beans>
