<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd ">
    
    <!-- Se carga dentro de este archivo (applicationContext.xml) el archivo externo de propiedades 
            (datosEmpresa.properties) anteriormente creado -->
    <context:property-placeholder location="classpath:datosEmpresa.properties"/>
    
    <!-- Se crean los beans correspondiente a cada clase: Director, Jefe y Secrfetario -->
    <!-- 3er Paso: para la Inyeccion de Dependencias, creando un nuevo Bean que construye objetos de tipo Informe -->
    <bean id="miInforme" class="com.dfrb.ioc.Informe"></bean>
    
    <!-- Continuacion 3er Paso: Se configura el Bean creado (miInforme) para los objetos tipo DirectorEmpleado -->
    <bean id="miDirectorEmp" class="com.dfrb.ioc.DirectorEmpleado">
        <!-- Inyeccion de Dependencia mediante Constructor -->
        <constructor-arg ref="miInforme"></constructor-arg>
        <!-- Configurando los campos que luego seran Inyectados en los objetos de tipo 
                DirectorEmpleado mediante los metodos Setter -->
        <!-- Se sustituyen los valores escritos anteriormente por los nombres de los campos dentro del archivo externo -->
        <property name="email" value="${email}"></property>
        <property name="nombreEmpresa" value="${nombreEmpresa}"></property>
    </bean>
    
    <!-- Se configura el Bean creado (miInforme) para los objetos tipo JefeEmpleado -->
    <bean id="miJefeEmp" class="com.dfrb.ioc.JefeEmpleado">
        <!-- Inyeccion de Dependencia mediante Constructor -->
        <constructor-arg ref="miInforme"></constructor-arg>
    </bean>
    
    <!-- Se configura el Bean creado (miInforme) para los objetos tipo SecretarioEmpleado -->
    <bean id="miSecretarioEmp" class="com.dfrb.ioc.SecretarioEmpleado">
        <!-- Inyeccion de Dependencia mediante metodo Setter -->
        <property name="informeNuevo" ref="miInforme"></property>
        <!-- Configurando los campos que luego seran Inyectados en los objetos de tipo 
                SecretarioEmpleado mediante los metodos Setter -->
        <property name="email" value="secretariainformatica@gmail.com"></property>
        <property name="nombreEmpresa" value="DFRB C.A."></property>
    </bean>
    
</beans>
